@model IEnumerable<StudentVM>
<main>

    <div class="container" style="margin-right:100px">

        <div class="d-flex justify-content-between align-items-center mb-3">

            <h2>Categories</h2>

            <a asp-action="Create"
                   class="btn btn-success">

                Create

            </a>

        </div>

        <table class="table table-bordered table-hover">

            <thead class="table-dark">

                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Age</th>
                    <th scope="col">Email</th>
                    <th scope="col">Operations</th>

                </tr>

            </thead>

            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Surname </td>
                        <td>@item.Age</td>
                        <td>@item.Email</td>


                        <td>

                            <a asp-action="Edit"
                                   asp-route-id="@item.Id"
                                   class="btn btn-warning">

                                Edit

                            </a>

                            <a asp-action="Detail"
                                   asp-route-id="@item.Id"
                                   class="btn btn-info">

                                Detail

                            </a>

                            <form asp-action="Delete"
                                  asp-route-id="@item.Id"
                                  method="post"
                                  style="display:inline-block">

                                <button type="submit"
                                        class="btn btn-danger">

                                    Delete

                                </button>

                            </form>

                        </td>

                    </tr>
                }

            </tbody>

        </table>

    </div>

</main>